<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro</title>

    <link rel="stylesheet" href="css/cadastro.css">
</head>
<body>
    <form action="registrar" method="post">
        <div class="card">
            <div class="card-top">
                <img class="imglogin" src="assets/login.png" alt="">
                <h1 class="tittle">Área de cadastro</h2>
            </div>

            <div class="card-group">
                <label>Usuário</label>
                <input type="text" name="nome_user" placeholder="Digite seu Usuário">
            </div>


            <div class="card-group">
                <label>Email</label>
                <input type="text" name="email_user" placeholder="Digite seu Email">
            </div>

            
            <div class="card-group">
                <label>Telefone</label>
                <input type="tel" name="telefone_user" placeholder="Digite seu Telefone">
            </div>

            
            <div class="card-group">
                <label>Senha</label>
                <input type="password" name="senha_user" placeholder="Digite sua senha">
            </div>

            <div class="card-group">
                <button type="submit">CADASTRAR</button>
            </div>


        </div>
    </form>
</body>
</html>